#root{
    width: 60%;
    background-color: rgb(213, 79, 213);
}
.class-cart{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #e74343;
    gap: 20px;
    margin-bottom: 20px;
}
.class-emoji{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 25px;
    cursor: pointer;
}
.class-count{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
button :active{
    border: none;
}
.btn :active{
    border: 1px solid transparent;
    cursor: pointer;
}
.btn-l{
    margin-right: 5px;
    background-color: transparent;
    border: none;
    color: white;
}
.btn-r{
    margin-left: 5px;
    background-color: transparent;
    border: none; 
    color: white;
}
.count-style{
    font-size: 30px;
    color: white;
    cursor: pointer;
}